// Base

@font-face {
  font-family: Rockwell;
  src: url('../fonts/rockwell.ttf');
}
@font-face {
  font-family: RockwellBold;
  src: url('../fonts/rockwell-bold.ttf');
}
@font-face {
  font-family: Lato;
  src: url('../fonts/lato.ttf');
}
@font-face {
  font-family: LatoBold;
  src: url('../fonts/lato-bold.ttf');
}





* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  padding: 0;
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}


// headings ------------
h1,
h2,
h3,
h5,
h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
  font-size: 70px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
}

button {
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 1%;
  border: none;
  font-family: var(--base-font-family);
  cursor: pointer;
}

// links ---------------
a {
  color: var(--link-color);
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;

  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box,
.signup-box {
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;

  img {
    width: 100%;
    height: auto;
  }
}

// Age Confirm Page --------------
.age-confirm {
  .img-cont {
    position: relative;

    .orchard-img {
      width: 100vw;
      filter: brightness(150%);
    }

    .logo {
      position: absolute;
      bottom: -15%;
      left: 30%;
      width: 40%;
    }
  }

  h1,
  p {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }

  .center-btn {
    width: 15%;
    margin: auto;
  }

  button {
    background-color: var(--dark-blue);
    padding: 2%;
    font-size: 20px;
    box-shadow: -2px 2px 3px rgb(0 0 0 / 90%);
    transition: transform .2s;
  }
}

// Home Page -------------------
.home-section {
  height: 95vh;
  padding: 1em;
}

.home-section.rooted {
  position: relative;
  background-image: url("../../static/images/home-splash-2.png");
  background-size: cover;
  background-position: center;

  .splash {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    left: 7%;
  }

  h1 {
    color: white;
    transform: rotate(-1deg);
    text-align: center;
    margin-bottom: 0;
    font-size: max(5.2vw, 28px);
  }

  p {
    color: white;
    text-align: center;
    font-family: var(--heading-font-family);
  }

  button {
    background-color: #F4372D;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 20px 8px rgba(255, 180, 176, 0.9);
  }
}

.home-section.new-pig {
  background-color: var(--sand);
  padding-right: 30px;
  position: relative;

  img.pink-tilted {
    position: absolute;
    height: 108%;
    bottom: -4%;
    left: 0;
  }

  h1 {
    position: relative;
    font-size: max(5.3vw, 25px);
    color: #21272C;
    margin-top: 5vh;
  }

  h3 {
    text-transform: initial;
    font-size: max(3.5vw, 16px);
    color: #21272C;
    margin-bottom: 10vh;
  }

  div {
    margin-left: auto;
    display: block;
    width: 50%;
    margin-left: 40%;
    text-align: center;
  }

  p {
    color: #21272C;
    font-family: var(--thin-heading-font-family);
    font-size: 3.7vw;
    text-align: center;
    font-weight: normal;
    z-index: 5;
    position: relative;
  }

  .pigsteps {
    width: 95%;
    transform: rotate(-5deg) translateY(-200px) scaleX(-1);
    z-index:0;
  }
}

button.homepg-btn {
  background-color: #21272C;
  font-size: 2vw;
  padding: 1% 2.5%;
  display: block;
  margin: 0 auto;
  z-index: 100;
  position: relative;
}

.home-section.hog {
  background-color: var(--brown);
  color: white;
  position: relative;

  .left{
    width: 40%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    margin-right: 5%;
    p{
      width: 60%;
      font-family: var(--thin-heading-font-family);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      margin-bottom: 10%;
    }
  }

  .pignbottles{
    width: 55vw;
    margin-left: 40%;
    position: absolute;
    top: 8%;
    left: 0;
    z-index: 50;
  }

  .pigsteps {
    width: 90%;
    transform: translateY(350px);
    z-index: 0;
    position: relative;
  }
}

// Products Page ------------------------------
.products {
  background-color: var(--med-blue);
  padding: 5%;
  overflow-x: hidden;

  h1 {
    color: white;
    text-align: center;
    font-size: 5vw;
  }

  .pigsteps {
    position: absolute;
    width: 90%;
    z-index: 1;
  }
  .pigsteps.pigsteps1{
    transform: scaleX(-1) rotate(8deg);
  }
  .pigsteps.pigsteps2{
    transform: translateY(800px) rotate(-20deg);
  }
  .pigsteps.pigsteps3{
    transform: scaleX(-1) translateY(1700px) rotate(10deg);
  }
  .pigsteps.pigsteps4, .pigsteps.pigsteps5{
    display: none;
  }
  .products-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    z-index: 100;
    position: relative;
    width: 90%;
    margin: auto;

    .product-card{
      height: 80vh;
    }
    .product-card:nth-child(2n){
      margin-top: 250px;
    }
    img{
      height: 90vh;
      margin-left: auto;
      margin-right: auto;
      z-index: 100;
      position: relative;
      &:hover{
        cursor: pointer;
      }
    }
    h2{
      font-size: max(4vw, 34px);
      text-transform: initial;
      font-weight: 300;
      transform: translateY(-450px) translateX(300px);
      margin-bottom: 10px;
      z-index: 100;
      position: relative;
    }
    button{
      padding: 2% 0%;
      width: 150px;
      background-color: #142838;
      font-size: max(1.5vw, 16px);
      border-radius: 8px;
      transform: translateY(-450px) translateX(300px);
      z-index: 100;
      position: relative;
    }
  }

}

// Product Dialog  ------------------------------

// Contact Page -------------------------------
.contact-page {
  background-color: var(--med-blue);
  overflow-x: hidden;
  .pigsteps {
    position: absolute;
    width: 85%;
    transform: rotate(-15deg);
    bottom: 5%;
    right: 0;
    z-index: -1;
  }
  h1{
    font-size: 40px;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 50px;
  }

  .flex {
    display: flex;
    width: 70%;
    height: auto;
    margin-bottom: 200px;
    margin: auto;
    .flex-column{
      display: flex;
      flex-direction: column;
      width: 45%;
      height: inherit;
    }
  }

  .contact-us-form{
    width: 50%;
    sl-form::part(base){
      background-color: var(--light-blue);
      border-radius: 5px;
      padding: 5%;
    }
    sl-input::part(base){
      border: solid black 1px;
    }
    sl-select::part(base){
      border: solid black 1px;
      border-radius: 5px;
    }
    sl-textarea::part(base){
      border: solid black 1px;
    }
    .name-input{
      display: flex;
      .input-group:first-child{
        margin-right: 3%;
      }
      .input-group{
        width: 48%;
      }
    }
    .submit-btn{
      background-color: var(--dark-blue);
      width: 50%;
      margin-left: 50%;
      padding: .8em;
      margin-top: .5em;
    }
  }

  .right {
    margin-left: 5%;
    color: white;
    width: 100%;
    background-color: var(--dark-blue);
    border-radius: 5px;
    height: 100%;

    img {
      width: 30px;
      margin-right: 20px;
    }

    .contact-info-grid {
      display: grid;
      padding: 10%;
      margin: auto;
      grid-row-gap: 10px;
      grid-template-columns: repeat(2, auto);
      p{
        margin-top: 0;
      }
    }

    .sm-icons {
      display: flex;
      width: 70%;
      margin: auto;

      a {
        margin: 0 10%;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .mapouter{
    position:relative;
    text-align:right;
    width:100%;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height: 100%;
  }
}

// About Page - IMAGE CAROUSEL ----------------


      .swiper-container{
        background: #eee;
        margin: 0;
        padding: 0;
      }

      .swiper-container {
        width: 100%;
        height: 98%;
      }

      .swiper-slide {
        text-align: center;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-button-next, .swiper-button-prev {
        color: white;
      }

      .swiper-pagination-bullet{
        background-color: white;
        opacity: 100%
      }

      .swiper-pagination-bullet-active{
        background-color: red;
      }

// About Page -------------------------------


.about-page {
  background: linear-gradient(180deg, rgba(56, 101, 134, 1) 0%, rgba(65, 134, 183, 1) 100%);
  color: white;

  .prints {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -100;
  }

  .about-carousel {
    width: 50%;
    display: flex;
    margin: auto;
    margin-top: 5%;

    img {
      width: 100%;
    }
  }

  h4 {
    font-family: var(--heading-font-family);
    font-size: 24px;
    text-align: center;
    margin: 70px;
  }

  .about-us-grid {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: repeat(2, auto);
    margin: auto;
    width: 80%;

    img {
      width: 100%;
    }

    h2 {
      text-transform: initial;
      color: white;
      font-weight: 300;
      font-size: 60px;
    }

    .info {
      width: 80%;
    }
  }

  .about-us-flex {
    display: flex;
    margin: auto;
    width: 100%;

    img {
      width: 50%;
      height: auto;
      margin: 5%;
    }

    .img-right {
      margin-left: 0;
    }

    .img-left {
      margin-right: 0;
    }

    h2 {
      text-transform: initial;
      color: white;
      font-weight: 300;
      font-size: 80px;
    }

    p {
      font-size: 20px;
      width: 70%;
    }

    .info {
      margin-top: 8%;
      width: 50%;
      padding: 0 3%;
    }

    .info-left {
      padding-right: 0;
    }
  }

}

// Checkout Page 1 -------------------------------
.checkout-header{
  height: var(--app-header-height);
  background-color: white;
  h1{
    font-size: 30px;
    text-transform: initial;
    padding: 10px;
    display: inline-block;
  }
  .nav-logo{
    width: 9%;
    min-width: 70px;
    position: absolute;
    left: 45%;
    display: inline-block;
  }
}
.checkout{
  background-color: var(--light-blue);
  display: flex;
  .right{
    width: 30%;
    padding: 30px;
  }
  .input-group{
    width: 100%;
  }
  .left{
    padding: 30px;
    width: 70%;
    .name-input{
      display: flex;
      .input-group:first-child{
        margin-right: 3%;
      }
      .input-group{
        width: 48%;
      }
    }
  }
  h1{
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    font-size: 32px;
    text-transform: initial;
  }
  h2{
    font-size: 32px;
    text-transform: initial;
  }
  h3{
    font-family: var(--base-font-family);
    text-transform: initial;
    font-size: 19px;
  }
  .cart-product{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, auto);
  }
  .cart-img{
    height: 20vh;
    margin-bottom: 30px;
    margin-right: 20px;
  }
  .product-name{
    font-weight: bold;
  }
  .checkout-btn {
    color: white;
    background-color: var(--med-blue);
    text-transform: uppercase;
    border: none;
    font-family: var(--base-font-family);
    cursor: pointer;
    padding: 2% 4%;
    border-radius: 8px;
    font-size: 20px;
    width: 100%;
  }
  sl-form.form-shipping::part(base){
    width: 80%;
  }
  sl-input::part(base){
    border: solid black 1px;
  }
  sl-select::part(base){
    border: solid black 1px;
  }
}