// Base

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body {
  padding: 0;  
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}


// headings ------------
h1,h2,h3,h5,h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
  font-size: 70px;
  font-weight:bold;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
}

button{
  background-color: var(--dark-blue);
  color: white;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 2%;
  border: none;
  font-family: var(--heading-font-family);
  font-size: 20px; 
}

// links ---------------
a {
  color: var(--link-color);
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0,0,0,0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box,
.signup-box {  
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
  img {
    width: 100%;
    height: auto;
  }
}

// Home Page -------------------
.home-section{
  height: 100vh;
  padding: 1em;
}

.home-section.rooted{
  background-color: var(--dark-blue);
  background-image: url("../../static/images/home-splash-2.png");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: contain;
  h1{
    padding-top: 1em;
    transform: rotate(-8deg);
    text-align: center;
  }
}

.home-section.hog{
  background-color: var(--white);
  h1{
    text-align: center;
    margin:40px auto;
    width: 50%;
    font-style: italic;
    text-shadow: -2px 2px black;
    font-size: 80px;
  }
  #social{
    width: 50%;
    margin: 30px auto;
    text-align: center;
    i{
      font-size: 40px;
      margin: 10px;
    }
  }
  .fp-1{
    right: 10%;
    bottom: 4%;
  }
}

.foot-print{
  height: 30vh;
  position: absolute;
}

.home-section.craft-cider{
  background-color: var(--sand);
  position: relative;
  .split-heading{
    display: flex;
    width: 90%;
    margin: auto;
    h1{
      font-style: italic;
      text-shadow: -2px 2px black;
    }
    h1:nth-child(2){
      margin-left: 10%;
    }
  }
  p{
    font-weight: bold;
    font-size: 24px;
    width: 40%;
    margin: auto;
    text-align: center;
  }
  .pink-tilted{
    height: 65vh;
    margin: auto;
    align-self: center;
    display: block;
  }
  button.shop-now{
    font-size: 35px;
    color: black;
    position: absolute;
    transform: translateX(220%);
    bottom: 20%;
    margin: auto;
    cursor: pointer;
    
  }
  
}

.home-section.pig-deal{
  background-color: var(--olive);
  display: flex;
  h1{
    text-transform: initial;
  }
  .left{
    width: 140%;
    display: flex;
    flex-direction: column;
    margin: 3%;
    img{
      width:100%;
      margin-top: auto;
      margin-bottom: auto;
      display: block;
    }
  }
  .right{
    div{
      padding: 4%;
    }
    p{
      font-weight: bold;
      font-size: 18px;
    }
  }
  
}

// Products Page ------------------------------
.products{
  padding: 5%;
    .products-grid{
      display: grid;
      .product-card:nth-child(odd){
        grid-column: 1/2;
      }
      .product-card:nth-child(even){
        grid-column: 2/3;
        transform: translateY(30%);
      }
    img{
      width: 345px;
      border: white 10px solid;
      border-radius: 10px;
      box-shadow: 5px 5px 8px 5px #888888;
    }
    h2{
      font-size: 50px;
      position: absolute;
      transform: translateY(-900%);
      margin-left: 250px;
    }
    h3{
      font-size: 48px;
      position: absolute;
      margin-left: 290px;
      transform: translateY(-830%);
    }
    button{
      margin-left: 290px;
      transform: translateY(-800%);
      box-shadow: -5px 5px 5px rgba(0,0,0,0.7);
    }
  }

}

// RESPONSIVE - MOBILE -------------------
@media all and (max-width: 768px){ 

  .signinup-box {
    width: 90%;
    max-width: none;
  }
}