// Base

@font-face {
  font-family: Rockwell;
  src: url('../fonts/rockwell.ttf');
}
@font-face {
  font-family: RockwellBold;
  src: url('../fonts/rockwell-bold.ttf');
}
@font-face {
  font-family: Lato;
  src: url('../fonts/lato.ttf');
}
@font-face {
  font-family: LatoBold;
  src: url('../fonts/lato-bold.ttf');
}





* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.page-content {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}


// headings ------------
h1,
h2,
h3,
h5,
h6 {
  margin: 0 0 .5em;
  color: var(--heading-color);
  font-size: 70px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  text-transform: uppercase;
}

button {
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 1%;
  border: none;
  font-family: var(--base-font-family);
  cursor: pointer;
}

// links ---------------
a {
  color: var(--link-color);
  //color: white;
}


// app splash screen -------
.app-splash {
  position: fixed;
  background: #fff;
  color: #777;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  text-align: center;

  .app-logo {
    width: 180px;
    display: block;
    margin-bottom: 1em;
  }
}


// helper classes ---------
.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

// generic-entry ------------
.generic-entry {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  margin-bottom: .5em;
  padding: 1em;
  background: #fff;
}

// root ---------------
#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

// page --------------------
.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;

  &.no-pad {
    padding: 0;
  }
}

.page-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

// sign in + sign up pages ----------
.signinup-box,
.signup-box {
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

// guide page ---------------
.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;

  img {
    width: 100%;
    height: auto;
  }
}

// Age Confirm Page --------------
.age-confirm {
  .img-cont {
    position: relative;

    .orchard-img {
      width: 100vw;
      height: 50vh;
      background-image: url(../../static/images/age-check.png);
      background-size: cover;
      background-position: center;
    }

    .logo {
      position: absolute;
      top: 15%;
      min-width: 250px;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1,
  p {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }

  .center-btn {
    display: flex;
    margin: auto;
    padding: 2%;
  }

  button {
    background-color: var(--dark-blue);
    padding: 2%;
    font-size: 20px;
    box-shadow: -2px 2px 3px rgb(0 0 0 / 90%);
    transition: transform .2s;
    margin: auto;
  }
}

// Home Page -------------------
.home-section {
  height: 95vh;
  padding: 1em;
  overflow-x: hidden;
}

.home-section.rooted {
  position: relative;
  background-image: url("../../static/images/home-splash-2.png");
  background-size: cover;
  background-position: center;

  .splash {
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    left: 7%;
  }

  h1 {
    color: white;
    transform: rotate(-1deg);
    text-align: center;
    margin-bottom: 0;
    font-size: max(5.2vw, 28px);
  }

  p {
    color: white;
    text-align: center;
    font-family: var(--heading-font-family);
  }

  //bubbly button animation
  //code from https://codepen.io/nourabusoud/pen/ypZzMM
  $button-bg: #F4372D;

  button {
    background-color: #F4372D;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 20px 8px rgba(255, 180, 176, 0.9);
    animation: btnWiggle 5s infinite;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    appearance: none;

    &:focus {
      outline: 0;
    }

    &:before, &:after{
      position: absolute;
      content: '';
      display: block;
      width: 140%;
      height: 100%;
      left: -20%;
      z-index: -1000;
      transition: all ease-in-out 0.5s;
      background-repeat: no-repeat;
    }
    
    &:before{
      display: none;
      top: -75%;
      background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
      radial-gradient(circle, $button-bg 20%, transparent 20%), 
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%);
      background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
    }
    
    &:after{
      display: none;
      bottom: -75%;
      background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%), 
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%),
      radial-gradient(circle, $button-bg 20%, transparent 20%);
      background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
   
    &:active{
      transform: scale(0.9);
      background-color: darken($button-bg, 5%);
      box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
    }
    
    &.animate{
      &:before{
        display: block;
        animation: topBubbles ease-in-out 0.75s forwards;
      }
      &:after{
        display: block;
        animation: bottomBubbles ease-in-out 0.75s forwards;
      }
    }
  }
}

@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

// button wiggle animation
// code from https://codepen.io/scottmagdalein/pen/nJivc
@keyframes btnWiggle {
	0% {-webkit-transform: rotate(0deg);}
	2% {-webkit-transform: rotate(-2deg);}
	3.5% {-webkit-transform: rotate(2deg);}
	5% {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(0deg);}
}

.home-section.new-pig {
  background-color: var(--sand);
  padding-right: 30px;
  position: relative;

  img.pink-tilted {
    position: absolute;
    height: 108%;
    bottom: -4%;
    left: 0;
  }

  h1 {
    position: relative;
    font-size: max(5.3vw, 25px);
    color: #21272C;
    margin-top: 5vh;
  }

  h3 {
    text-transform: initial;
    font-size: max(3.5vw, 16px);
    color: #21272C;
    margin-bottom: 10vh;
  }

  div {
    margin-left: auto;
    display: block;
    width: 50%;
    margin-left: 40%;
    text-align: center;
  }

  p {
    color: #21272C;
    font-family: var(--thin-heading-font-family);
    font-size: 3.7vw;
    text-align: center;
    font-weight: normal;
    z-index: 5;
    position: relative;
  }

  .pigsteps {
    width: 95%;
    transform: rotate(-5deg) translateY(-200px) scaleX(-1);
    z-index:0;
  }
}

button.homepg-btn {
  background-color: #21272C;
  font-size: 2vw;
  padding: 1% 2.5%;
  display: block;
  margin: 0 auto;
  z-index: 100;
  position: relative;
}

.home-section.hog {
  background-color: var(--brown);
  color: white;
  position: relative;

  .left{
    width: 40%;
    position: absolute;
    top: 70%;
    left: 0%;
    transform: translateY(-50%);
    margin-right: 5%;
    p{
      width: 60%;
      font-family: var(--thin-heading-font-family);
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
      margin-bottom: 10%;
    }
  }

  .pignbottles{
    width: 55vw;
    margin-left: 40%;
    position: absolute;
    top: 8%;
    left: 0;
    z-index: 50;
  }

  .pigsteps {
    width: 90%;
    transform: translateY(350px);
    z-index: 0;
    position: relative;
  }
}

// Products Page ------------------------------
.products {
  background-color: var(--med-blue);
  overflow-x: hidden;

  h1 {
    color: white;
    text-align: center;
    font-size: 5vw;
  }

  .pigsteps {
    position: absolute;
    width: 90%;
    z-index: 1;
  }
  .pigsteps.pigsteps1{
    transform: scaleX(-1) rotate(8deg);
  }
  .pigsteps.pigsteps2{
    transform: translateY(800px) rotate(-20deg);
  }
  .pigsteps.pigsteps3{
    transform: scaleX(-1) translateY(1700px) rotate(10deg);
  }
  .pigsteps.pigsteps4, .pigsteps.pigsteps5{
    display: none;
  }
  .products-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    z-index: 100;
    position: relative;
    width: 90%;
    margin: auto;

    .product-card{
      height: 80vh;
    }
    .product-card:nth-child(2n){
      margin-top: 250px;
    }
    img{
      height: 90vh;
      margin-left: auto;
      margin-right: auto;
      z-index: 100;
      position: relative;
      &:hover{
        cursor: pointer;
      }
    }
    h2{
      font-size: max(4vw, 34px);
      text-transform: initial;
      font-weight: 300;
      transform: translateY(-450px) translateX(300px);
      margin-bottom: 10px;
      z-index: 100;
      position: relative;
    }
    button{
      transform: translateY(-450px) translateX(300px);
      z-index: 100;
      position: relative;
    }
  }

}

// Product Dialog  ------------------------------

.product-dialog::part(panel){
  background-color: var(--dark-blue);
  color:white;
}

.product-dialog::part(body){
  display: grid;
  padding: 50px;
  padding-top: 0;
  overflow: hidden;
  /*background-color: var(--dark-blue);*/
}

.product-dialog::part(close-button){
  color: white;
  font-size: 40px;
}

.product-dialog{
    --width: 80vw;

  #image-bottle {
    position: absolute;
    left: 0px;
    top: 150px;
  }
  #image-can {
    position: absolute;
    right: 0px;
    top: 150px;
  }

  img.pp-img{
    object-fit: cover;
    //max-height: 60vh;
    width: 50%;
    max-width: 100%;
    z-index: 99;
    transition: width 1s;
  }
  .pp-img:hover {
    cursor: pointer;
    transition: width 1s;
    max-height: 60vh;
    z-index: 100;
    width: 100%;
  }

  img.pp-img-single{
    max-height: 60vh;
    transform: translateY(-10%);
  }

  .pp-left{
    grid-column: 1/2;
    width: 100%;
    position: relative;
    h2{
      font-size: 36px;
      color: white;
      padding-bottom: 0;
    }
    button {
      color: black;
      font-family: var(--base-font-family);
    }
    button{
      color: white;
      background-color: var(--med-blue);
      font-family: var(--base-font-family);
    }
    button:hover {
      color: black;
      background-color: var(--light-blue);
    }
    button:active {
      color: black;
      background-color: var(--light-blue);

    }
  }
  
  .pp-right{
    grid-column: 2/5;
    margin-left: 10%;
    h3{
      font-size: 32px;
      font-family :var(--base-font-family);
      font-weight: bold;
    }
  }

  .pp-right-top{
    background-color: var(--light-blue);
    border-radius: 5px;
    color: black;
    padding: 15px;
  }

  .pp-boxes{
    display: flex;
    width: 80%;
    margin: auto;
    font-weight: bold;
    text-align: center;
    h3{
      margin: auto;
    }

    img{
      width: 40px;
      height: 40px;
      transform: translateY(50%);
    }
    p{
      width: 50%;
      padding: 1em;
    }

    //button styles in animation.scss
    //due to bubbles button animation

    // button{
    //   background-color: var(--med-blue);
    //   box-shadow: none;
    //   transform: translateX(30%);
    //   width: 60%;
    // }
    // button:hover{
    //   color: black;
    //   background-color: var(--white);
    //   border: 1px solid var(--med-blue);
    // }
  }

  .pp-right-bottom{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    img{
      height: 50px;
    }
  }
  #desc{
    font-weight: 300;
  }
}

// Contact Page -------------------------------
.contact-page {
  background-color: var(--med-blue);
  overflow-x: hidden;
  .pigsteps {
    position: absolute;
    width: 85%;
    transform: rotate(-15deg);
    bottom: 5%;
    right: 0;
    z-index: -1;
  }
  h1{
    font-size: 40px;
    text-align: center;
    width: 100%;
    color: white;
    margin-top: 50px;
  }

  .flex {
    display: flex;
    width: 70%;
    height: auto;
    margin-bottom: 200px;
    margin: auto;
    .flex-column{
      display: flex;
      flex-direction: column;
      width: 45%;
      height: inherit;
    }
  }

  .contact-us-form{
    width: 50%;
    sl-form::part(base){
      background-color: var(--light-blue);
      border-radius: 5px;
      padding: 5%;
    }
    sl-input::part(base){
      border: solid black 1px;
    }
    sl-select::part(base){
      border: solid black 1px;
      border-radius: 5px;
    }
    sl-textarea::part(base){
      border: solid black 1px;
    }
    .name-input{
      display: flex;
      .input-group:first-child{
        margin-right: 3%;
      }
      .input-group{
        width: 48%;
      }
    }
    .submit-btn{
      background-color: var(--dark-blue);
      width: 50%;
      margin-left: 50%;
      padding: .8em;
      margin-top: .5em;
    }
  }

  .contact-right {
    margin-left: 5%;
    color: white;
    width: 100%;
    background-color: var(--dark-blue);
    border-radius: 5px;
    height: 100%;

    img {
      width: 30px;
      margin-right: 20px;
    }

    .contact-info-grid {
      display: grid;
      padding: 10%;
      margin: auto;
      grid-row-gap: 10px;
      grid-template-columns: repeat(2, auto);
      p{
        margin-top: 0;
      }
    }

    .sm-icons {
      display: flex;
      width: 70%;
      margin: auto;

      a {
        margin: 0 10%;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .mapouter{
    position:relative;
    text-align:right;
    width:100%;
    height: 100%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height: 100%;
  }
}

// About Page - IMAGE CAROUSEL ----------------


      .swiper-container{
        background: rgba(0, 0, 0, 0);
        margin: 0;
        padding: 0;
      }

      .swiper-container {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        background: rgba(0, 0, 0, 0);

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 95%;
        object-fit: cover;
        position: absolute;
        top: 0;
      }

      .swiper-button-next, .swiper-button-prev {
        color: white;
      }

      .swiper-pagination-bullet{
        background-color: white;
        opacity: 100%
      }
      .swiper-pagination{
        z-index: 1000;
        position: absolute;
      }

      .swiper-pagination-bullet-active{
        background-color: red;
      }

// About Page -------------------------------


.about-page {
  background: linear-gradient(180deg, rgba(56, 101, 134, 1) 0%, rgba(65, 134, 183, 1) 100%);
  color: white;

  .prints {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
  }

  h4 {
    font-family: var(--heading-font-family);
    font-size: max(3vw, 18px);
    text-align: center;
    margin: 70px;
  }

  .about-us-flex {
    display: flex;
    margin: auto;
    width: 100%;
    overflow: hidden;

    img {
      width: 50%;
      height: 50%;
      margin: 5%;
      position: relative;
    }

    .img-right {
      margin-left: 0;
    }

    .img-left {
      margin-right: 0;
    }

    h2 {
      text-transform: initial;
      color: white;
      font-family: var(--thin-heading-font-family);
      font-weight: 200;
      font-size: max(4vw, 25px);
    }

    p {
      font-size: max(1.5vw, 16px);
      width: 70%;
    }

    .info {
      margin-top: 8%;
      width: 50%;
      padding: 0 3%;
    }

    .info-left {
      padding-right: 0;
      padding-left: 10%;
    }

    .thebeg{
      background-image: url(../../static/images/stroke-the-beginning.png);
      background-repeat: no-repeat;
      background-size: 90% 60%;
      background-position: 20px 30px;
    }
    .info-right{
      background-image: url(../../static/images/stroke-beliefs.png);
      background-repeat: no-repeat;
      background-size: 70% 50%;
      background-position: 0px 30px;
      margin-left: 5%;
    }
    .ourhome{
      background-image: url(../../static/images/stroke-our-home.png);
      background-repeat: no-repeat;
      background-size: 80% 50%;
      background-position: 30px 30px;
    }
  }

  .pigsteps {
    width: 95%;
    z-index:0;
    position: absolute;
  }

  .ps1{
    transform: rotate(-6deg) scaleX(-1);
  }

  .ps2{
    transform: rotate(-20deg) translateY(700px) translateX(-300px);
  }

  .ps3{
    transform: rotate(-5deg) translateY(1750px) translateX(-100px) scaleX(-1);
  }
  .ps4{
    visibility: hidden;
  }

}

// Checkout Page 1 -------------------------------
.checkout-header{
  height: var(--app-header-height);
  background-color: white;
  h1{
    font-size: 30px;
    text-transform: initial;
    padding: 10px;
    display: inline-block;
  }
  .nav-logo{
    width: 9%;
    min-width: 70px;
    position: absolute;
    left: 45%;
    display: inline-block;
  }
}
.checkout{
  background-color: var(--light-blue);
  display: flex;
  .go-back{
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    margin-top: 0;
    display: inline-block;
    &:hover{
      color: var(--med-blue);
    }
  }
  .right-checkout{
    width: 30%;
    padding: 30px;
  }
  .input-group{
    width: 100%;
  }
  .left-checkout{
    padding: 30px;
    width: 70%;
    .name-input{
      display: flex;
      .input-group:first-child{
        margin-right: 3%;
      }
      .input-group{
        width: 48%;
      }
    }
  }
  h1{
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    font-size: 32px;
    text-transform: initial;
  }
  h2{
    font-size: 32px;
    text-transform: initial;
  }
  h3{
    font-family: var(--base-font-family);
    text-transform: initial;
    font-size: 19px;
  }
  .cart-product{
    display: grid;
    width: 70%;
    grid-template-columns: repeat(2, auto);
  }
  .cart-img{
    height: 20vh;
    margin-bottom: 30px;
    margin-right: 20px;
  }
  .product-name{
    font-weight: bold;
  }
  .checkout-btn {
    color: white;
    background-color: var(--med-blue);
    text-transform: uppercase;
    border: none;
    font-family: var(--base-font-family);
    cursor: pointer;
    padding: 2% 4%;
    border-radius: 8px;
    font-size: 20px;
    width: 100%;
  }
  sl-form.form-shipping::part(base){
    width: 80%;
  }
  sl-input::part(base){
    border: solid black 1px;
  }
  sl-select::part(base){
    border: solid black 1px;
  }
}