
@media all and (max-width: 1125px){ 

  /* HOME SECTION */
    .home-section.new-pig{
      .pigsteps{
        transform: rotate(-5deg) translateY(-20px) scaleX(-1);
      }
    }

}
  
  @media all and (max-width: 1000px){ 
  
    /* HOME SECTION */
    .home-section.hog{
      .pigsteps{
        width:100%;
        transform: rotate(5deg) translateY(-20px);
      }
    }
    .home-section.new-pig{
        img.pink-tilted{
            height: 110%;
            bottom: -5%;
        }
        .pigsteps{
          transform: rotate(-5deg) translateY(20px) scaleX(-1);
        }
    }

    /* PRODUCTS PAGE */
    .products{
      .products-grid{
        h2, button{
          transform: translateY(-450px) translateX(250px);
        }
      }
    }
    
  }

  @media all and (max-width: 900px){ 
    /* PRODUCTS PAGE */
    .products{
      .products-grid{
        img{
          height: 80vh;
        }
        h2, button{
          transform: translateY(-450px) translateX(210px);
        }
      }
    }
  }
  
  @media all and (max-width: 800px){ 
  
    /* HOME SECTION */
    .home-section{
      height: 60vh;
    }
    .home-section.hog{
      h1{
        width: 100%;
      }
      p{
        margin-top: 20px;
        font-size: 20px;
      }
      .pigsteps{
        transform: rotate(5deg) translateY(-100px);
      }
    }
    .home-section.new-pig{
        img.pink-tilted{
          left: -5%;
        }
        .pigsteps{
            transform: rotate(-5deg) translateY(0px) scaleX(-1);
          }
    }

    /* PRODUCTS PAGE */
    .products{
      .products-grid{
        grid-template-columns: repeat(1, auto);
        .product-card{
          margin-top: 100px;
          margin-left: auto;
          margin-right: auto;
        }
        .product-card:nth-child(2n){
          margin-top: 100px;
        }
      }
      .pigsteps.pigsteps3{
        transform: scaleX(-1) translateY(1400px) rotate(10deg);
      }
      .pigsteps.pigsteps4, .pigsteps.pigsteps5{
        display: block;
      }
      .pigsteps.pigsteps4{
        transform: scaleX(-1) translateY(2000px) rotate(20deg);
      }
      .pigsteps.pigsteps5{
        transform: scaleX(-1) translateY(2900px) rotate(-20deg);
      }
    }
}
  
  @media all and (max-width: 768px){ 
  
    .signinup-box {
      width: 90%;
      max-width: none;
      }
    .home-section.hog{
        #social{
            margin: 30px auto;
        }
    }
    .home-section.new-pig{
        .pigsteps{
            transform: rotate(-5deg) translateY(100px) scaleX(-1);
          }
    }

    .sm-100 {
      width: 100%
    }

     


}
  
  @media all and (max-width: 640px){ 
    .home-section.hog{
      #social{
        width: 70%;
      }
      p{
        font-size: 16px;
      }
      .pigsteps{
        width: 130%;
        transform: rotate(5deg) translateY(-30px);
      }
    }
    .home-section.new-pig{
        .pigsteps{
            transform: rotate(-5deg) translateY(200px) scaleX(-1);
          }
    }

    /* PRODUCTS PAGE */
    .products{
      .products-grid{
        margin-left: 0;
        .product-card{
          height: 50vh;
        }
        img{
          height: 50vh;
        }
        h2, button{
          transform: translateY(-370px) translateX(160px);
        }
      }
    }
    
  }