// Vars




:root {
  // base
  --base-txt-color: rgb(0, 0, 0);
  --heading-color: rgb(0, 0, 0);

  --base-font-family: 'Lato', sans-serif;
  --heading-font-family: 'Rockwell', sans-serif;
  --body-bg: #fff;
  

  // colors  
  --light-blue: #D4E7F8;
  --med-blue: #4186B7;
  --dark-blue: #2A5879;
  --olive: #717B39;
  --brown: #AE6D47;
  --sand: #DCCBBC;
  --white: #ffffff;
  //--link-color: ;
  
  // app header
  --app-header-height: 50px;
  --app-header-height-mobile: 250px;
  --app-header-txt-color: #fff;
  --app-header-title-font-size: 1.6em;
}